<!doctype html>
<html ng-app="ui.bootstrap.demo">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="example.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <style>
      #desktop{
          display: block;
      }
      #mobile{
          display: none;
      }
      @media only screen and (max-width: 600px) {
          #desktop{
              display: none;
          }
          #mobile{
              display: block;
          }
      }
    </style>
  </head>
  <body>

    <div ng-controller="CarouselDemoCtrl">
      
      <div style="height: 305px" id="desktop">
        <div uib-carousel active="active" interval="myInterval" no-wrap="noWrapSlides">
          <div uib-slide ng-repeat="slide in dateIdeas track by slide.id" index="slide.id">
            <img ng-src="{{slide.imageUrl}}" style="margin:auto;width: 100%">
            <div class="carousel-caption" style="background-color: rgba(211,211,211,0.4)">
              <h4>{{slide.title}}</h4>
              <p>{{slide.description}}</p>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row" ng-repeat="slide in dateIdeas" id="mobile">
        <div class="col-md-12">
          <img ng-src="{{slide.imageUrl}}" style="margin:auto;width: 100%">
          <div class="carousel-caption" style="background-color: rgba(211,211,211,0.4)">
            <h4>{{slide.title}}</h4>
            <p>{{slide.description}}</p>
          </div>
        </div>
      </div>
      
    </div>
    
  </body>
</html>
